@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: #44818e;
	border-radius: 9999px;
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
	-ms-border-radius: 9999px;
	-o-border-radius: 9999px;
}
